@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <ol class="breadcrumb">
    <li class="breadcrumb-item">
        Meu painel<br />
        <script language="javascript">
           document.write(localStorage.getItem('token'));
        </script>

    </li>
        
</ol>
