
@{
    ViewBag.Title = "Lista de Livro";
    Layout = null;
}

<div class="container text-center" ng-controller="biblioctrl">
  
  
    <table cellpadding="3" cellspacing="3">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Titulo</th>
                <th>Biblioteca</th>
                <th>Editora</th>
                <th>Editar</th>

            </tr>
        </thead>
       


     
    </table>
    </div>