@using Newtonsoft.Json.Linq 
@model System.Threading.Tasks.Task<UsuarioBiblioteca.Application.ViewModel.Livro>
@{
    ViewBag.Title = "Lista de Livro";
    Layout = null;
}

<div class="container text-center">
    <table cellpadding="3" cellspacing="3">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>Titulo</th>
                <th>Biblioteca</th>
                <th>Editora</th>
                <th>Editar</th>

            </tr>
        </thead>
        @if (Model.Result != null)
        {

            JArray usuarioarrray = JArray.Parse("[" + Model.Result + "]");
            foreach (JObject obj in usuarioarrray.Children<JObject>())
            {
                <tbody>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>@obj.SelectToken("Titulo")</td>
                        <td>@obj.SelectToken("Biblioteca")</td>
                        <td>@obj.SelectToken("Editora")</td>
                        <td><input type="button" value="Editar" /></td>


                    </tr>
                </tbody>

            }


        }
    </table>
    </div>